button {
    background-color:  transparent;
    box-shadow: none;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-radius: 2px;
    font-family: "Dosis", sans-serif;
    cursor: pointer;
    color: white;
}
