.creds {
    font-family: "Handlee", cursive;
    flex-direction: column;
    background-color: rgba(19, 34, 21, 0.274);
    padding-top: 7px;
    border-radius: 30px;

}

.creds h4 {
    margin-bottom: 0;
    font-size: medium;
    margin-top: 0;


}

.creds h5 {
    margin-top: 0;
    margin-bottom: 12px;
    font-size: medium;
    color: black;
}

@media (max-width: 767px) {
    .creds h4 {
        font-size: 13px;
    }

    .creds h5 {
        margin-top: 0;
        font-size: smaller;
        color: black;
    }
}